<%= error_messages_for 'questionario' %>

<!--[form:questionario]-->
<p><label for="nome">Nome:</label><br/>
<%= text_field_tag 'nome', params[:nome], :size => 50, :maxlength => 50 %></p>
<!--[eoform:questionario]-->
