<div id="content">
	<div>
		<div class="content">
			<h1 class="title style1">Adicionar Tipo de Cadastro</h1>
			<br/>
			<% form_tag :action => 'create' do %>
				<%= render :partial => 'form' %>
				<%= submit_tag "Cria novo tipo de cadastro" %>
			<% end %>
			<p><%= link_to image_tag("goBack.gif", :border => 0, :alt => 'Voltar'), {:action => 'list'} %></p>
	  	</div>
	</div>
</div>
