<%= error_messages_for 'modeloprova' %>

<!--[form:modeloprova]-->
<p>
	<label for="modeloprova_titulo">Título:</label><br/>
	<%= text_field 'modeloprova', 'titulo', :size => 50, :maxlength => 50 %>
</p>
<p>
	<label for="modeloprova_editavel">Campos Editáveis:</label><br/>
	<%= text_field 'modeloprova', 'editavel', :size => 5, :maxlength => 5 %>
</p>
<p>
	<label for="modeloprova_modelos">Modelo:</label>
	<br/>
	<%= file_field 'modeloprova', 'modelos' %>
</p>
<!--[eoform:modeloprova]-->
