<div id="content">
	<div>
		<div class="content">
			<h2 class="title style2">Cadastre-se na T.U.I.A - Cadastro Profissional</h2>
			<br/>
			<%= start_form_tag({:action => 'create', :user_id => @user_id}) %>
			<%= render :partial => 'form' %>
			<%= submit_tag "Cadastrar" %>
			<%= end_form_tag %>
	  	</div>
	</div>
</div>
