Caro <%= @nome %>,

	 Sua senha na plataforma TUIA foi alterada com sucesso.

	- Dados:

	Login: <%= @login %>
	Senha: <%= @pass %>

Acesse o sistema em http://abrapa.nce.ufrj.br/ para alterar sua senha caso necessário.
