<%= error_messages_for 'area' %>

<!--[form:area]-->
<p><label for="area_codigo">Código:</label><br/>
<%= text_field 'area', 'codigo', :size => 5, :maxlength => 5 %></p>

<p><label for="area_nome">Nome:</label><br/>
<%= text_field 'area', 'nome', :size => 50, :maxlength => 50 %></p>
<!--[eoform:area]-->
