/*
Plataforma TUIA
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../images/img01.gif) repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #8F711F;
}

h1 {
	font-size: 197%;
}

h2 {
	font-size: 167%;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

p, ol, ul {
	line-height: 180%;
}

p {
}

ol {
}

ul {
}

blockquote {
	margin: 0;
	padding-left: 20px;
	border-left: 3px solid #F4E8B4;
	font-style: normal;
	color: #999999;
}

blockquote * {
	line-height: normal;
}

a {
	color: #E06529;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
}

img.center {
	float: center;
	margin: 0 0 0 15px;
}

hr {
	display: none;
}

/* Header */

#header {
	width: 760px;
	height: 90px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	padding-top: 35px;
	background: url(../images/lotus.jpg) no-repeat left bottom;
}

#logo h1, #logo h2 {
	margin: 0;
	padding-left: 60px;
	font-weight: normal;
	color: #E06529;
}

#logo h1 {
	font-weight: bold;
}

#logo h2 {
	font-size: 92%;
}

#logo a {
	text-decoration: none;
}

/* Top Menu */

#topmenu {
	float: right;
}

#topmenu ul {
	margin: 0;
	padding: 32px 0 0 0;
	list-style: none;
	line-height: normal;
}

#topmenu li {
	display: inline;
}

#topmenu a {
	padding: 0 20px;
	border-left: 1px solid #E06529;
	text-decoration: none;
	font-size: 92%;
}

#topmenu a:hover {
	text-decoration: underline;
}

#topmenu .first a {
	border: none;
}

/* Header 2 */

#header2 {
	width: 760px;
	height: 200px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 200px;
	height: 200px;
	background: url(../images/img03.jpg);
}

#menu ul {
	margin: 0;
	padding: 15px 20px 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	padding: 8px 8px;
	background: url(../images/img05.gif) repeat-x;
	text-decoration: none;
	font-size: 80%;
	font-weight: bold;
	color: #787878;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first a {
	background: none;
}

/* Splash */

#splash {
	float: right;
	width: 560px;
	height: 200px;
}

/* Page */

#page {
	width: 760px;
	margin: 0 auto;
	padding: 30px 0;
	font-weight: normal;
}

/* Content */

#content {
	float: left;
	width: 530px;
	padding-left: 10px;
	font-weight: normal;
}

#content ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	font-weight: normal;
}

#content ul li {
	padding-left: 15px;
	background: url(../images/img08.gif) no-repeat 0 8px;
	font-weight: normal;
}

#content ol {
	margin-left: 0;
	padding-left: 0;
	list-style: lower-alpha inside;
	
	
	
}

.title {
	padding-top: 3px;
	color: #336666;
	font-weight: normal;
}

.content {
	padding: 20px;
	background: url(../images/img10.gif) no-repeat;
}

.twocols {
}

.twocols .col1 {
	float: left;
	width: 520px;
}

.twocols .col2 {
	float: right;
	width: 220px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 210px;
}

#sidebar ul {
	margin: 0;
	padding: 10px;
	list-style: none;
}

#sidebar li {
	margin-bottom: 10px;
	background: url(../images/img07.gif) repeat-y right;
	background-repeat: url(../images/img07.gif) repeat-y;
}

#sidebar li ul {
	padding: 10px 20px;
	background: url(../images/img07.gif) repeat-y right;
	background-repeat: url(../images/img07.gif) repeat-y;	
	font-size: 92%;
}

#sidebar li li {
	margin: 0;
	padding: 10 px 0;
	background: none;
	border-top: 1px dotted #CDCDCD;
}

#sidebar h2 {
	height: 30px;
	margin: 0;
	padding: 6px 0 0 10px;
	background: url(../images/img06.gif) no-repeat;
	font-size: 100%;
	font-weight: bold;
	color: #765E1E;
}

#sidebar h21 {
	height: 10px;
	margin: 0;
	padding: 6px 0 0 10px;
	background: url(../images/img06.jpg) no-repeat;
	font-size: 100%;
	font-weight: bold;
	color: #145997;
}

#sidebar h3 {
	margin: 0;
	padding: 6px 0 0 10px;
}

#sidebar p {
	margin: 0;
	line-height: normal;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar .first {
	border: none;
}

#sidebar .center {
	float: right;
	margin: 0;
	padding: 6px 0 0 10px;
	text-decoration: none;
	border: none;
}

/* Footer */

#footer-wrapper {
	height: 40 px;
	padding: 10px 0;
	background: #E6E6E6;
	border-top: 10 px solid #CDCDCD;
}

#footer {
	width: 760px;
	padding: 20px 0;
	margin: 0 auto;
}

#footer p {
	margin: 0;
	line-height: normal;
}

#footer a {
	color: #666666;
}

#legal {
	float: left;
	padding: 5px 0 5px 10px;
	background: url(../images/img11.gif) no-repeat left center;
}

#links {
	float: right;
	padding: 10px 0 0 0;
}

#navcontainer ul {
  padding-left: 0;
  margin-left: 0;
  margin-top:0px;
  background-color: #C86000;
  background: url('../img/bar.jpg') top right no-repeat; 
  color: White;
  float: left;
  width: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a {
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left:10px;
	padding-right:10px;
	background-color: transparent;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #FAD771;
	
	
}

#navcontainer ul li a:hover {
  background-color: #ffffff;
  background: url('../img/bar_bg_hover.gif') bottom left repeat-x; 
  color: #fff;
}

#linklist {
  padding-left: 0;
  margin-left: 0;
  border-bottom: 1px solid #D1D9C4;
  width: 140px;
}

#linklist li {
  list-style: none; 
  margin: 0;
  line-height:20px;
  border-top: 1px solid #D1D9C4;
  font-family:verdana;
  font-size:10px;
}

#linklist li a {
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}

.thumbnail_left {
  float:left;
  margin-right:10px;
  margin-bottom:5px;
  border:0px;
}

/** **/

#menu_bar {
  margin:0px;
  padding:0px;
  margin-top:0px;
  border:0px dashed #cccccc;
  height: 44px;
  clear:both;
}

#navcontainer ul {
  padding-left: 0;
  margin-left: 0;
  margin-top:0px;
  color: #666666;
  float: left;
  width: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:18px;
  font-weight: bold;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a {
  padding-left: 0;
  margin-left: 0;
  margin-top:0px;
  padding-top: 0px;
  padding-left:1px;
  padding-right:1px;
  background-color: transparent;
  color: #4E4E4E;
  text-decoration: none;
  float: left;
}

#navcontainer ul li a:hover {
  margin-top:0px;
}

#linklist {
 margin-top:0px;
  padding-top: 0px;
  padding-bottom: 7px;
  padding-left: 0;
  margin-left: 0;
  width: 140px;
}

#linklist li {
	margin-top:0px;
	list-style: none;
	margin: 0;
	line-height:10px;
	border-top: 0px solid #D1D9C4;
	font-family:verdana;
	font-size:10px;
	color: #4E4E4E;
}

#linklist li a {
    margin-top:0px;
	text-decoration: none;
	color: #828e9c;
}

/** **/

#menu_bar {
  margin:0px;
  padding:0px;
  border:0px dashed #cccccc;
  height:31px;
  clear:both;
  background: #FFFFFF url(../images/menu_bg.gif) bottom left no-repeat;
}

/* Menu */

#menu {
	float: left;
	width: 200px;
	height: 200px;
	background: url(../images/img03.jpg);
}

#menu ul {
	margin: 0;
	padding: 20px 20px 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	padding: 8px 8px;
	background: url(../images/img05.gif) repeat-x;
	text-decoration: none;
	font-size: 80%;
	font-weight: bold;
	color: #666666;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first a {
	background: none;
}

/* Splash */

#splash {
	float: right;
	width: 560px;
	height: 200px;
}

/* Page */
.style4 {color: #e06529}
.style5 {color: #765e1e}
.style6 {color: #B08C2D}
.style7 {color: #765e1e}
.style8 {font-size: 12px}