Caro administrador da plataforma TUIA,

	Existe um usuário a ser aprovado na plataforma.

	- Dados:

	Nome: <%= @nome %>
	E-mail: <%= @email %>

Acesse o sistema em http://abrapa.nce.ufrj.br/ para poder aprová-lo.
