Caro administrador da plataforma TUIA,

	Existe um projeto a ser aprovado na plataforma.

	- Dados:

	Título: <%= @title %>
	Data de Criação: <%= @creation %>
	Data de Alteração: <%= @modification %>
	Autor: <%= @author %>

Acesse o sistema em http://abrapa.nce.ufrj.br/ para poder aprová-lo.
