<%= error_messages_for 'plataforma' %>

<!--[form:plataforma]-->
<p>
	<label for="plataforma_codigo">Código:</label>
	<br/>
	<%= text_field 'plataforma', 'codigo', :size => 10, :maxlength => 10 %>
</p>
<p>
	<label for="plataforma_nome">Nome:</label>
	<br/>
	<%= text_field 'plataforma', 'nome', :size => 50, :maxlength => 50 %>
</p>
<!--[eoform:plataforma]-->
