<%= error_messages_for 'livro' %>

<!--[form:livro]-->
<p>
	<label for="livro_titulo">Título:</label>
	<br/>
	<%= text_field 'livro', 'titulo', :size => 75, :maxlength => 255 %>
</p>
<p>
	<label for="livro_capas">Capa:</label>
	<br/>
	<%= file_field 'livro', 'capas' %>
</p>
<p>
	<label for="livro_conteudos">Conteúdo:</label>
	<br/>
	<%= file_field 'livro', 'conteudos' %>
</p>
<!--[eoform:livro]-->
