<%= error_messages_for 'artigo' %>

<!--[form:artigo]-->
<p>
	<label for="artigo_anexos">Nome:</label>
	<br/>
	<%= file_field 'artigo', 'anexos' %>
</p>
<p>
	<%= check_box 'artigo', 'isresumo' %>
	<label for="artigo_isresumo">Resumo</label>
</p>
<!--[eoform:artigo]-->
