<%= error_messages_for 'linhaPesquisa' %>

<!--[form:linhaPesquisa]-->
<p><label for="linhaPesquisa_codigo">Código:</label><br/>
<%= text_field 'linhaPesquisa', 'codigo', :size => 10, :maxlength => 10 %></p>

<p><label for="linhaPesquisa_nome">Nome:</label><br/>
<%= text_field 'linhaPesquisa', 'nome', :size => 75, :maxlength => 150 %></p>

<p>
	<label for="linhaPesquisa_anexos">Ícone:</label>
	<br/>
	<%= file_field 'linhaPesquisa', 'anexos' %>
</p>
<!--[eoform:linhaPesquisa]-->
