<%= error_messages_for 'escolaridade' %>

<!--[form:escolaridade]-->
<p><label for="escolaridade_codigo">Código:</label><br/>
<%= text_field 'escolaridade', 'codigo', :size => 10, :maxlength => 10 %></p>

<p><label for="escolaridade_nome">Nome:</label><br/>
<%= text_field 'escolaridade', 'nome', :size => 50, :maxlength => 50 %></p>
<!--[eoform:escolaridade]-->
